<div class="row full-width">
  <div class="bourbon-pic">
    <h1><%= @bourbon.name %></h1>
    <h3><%= @bourbon.distillery %></h3>
    <% if current_user %>
      <%= link_to "Review It", new_bourbon_review_path(@bourbon, @review), class: "new-review-button" %>
    <% end %>
  </div>
</div>

<div class="row full-width bourbon-background">
  <div class="column small-centered stats-container">
    <div class="row">
      <div class="column stats-header">
        <div class="column small-4">
          Proof
        </div>
        <div class="column small-4">
          <span class="dbb-rating">DBB</span>
        </div>
        <div class="column small-4">
          Ya'll
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column small-centered stats">
        <div class="column small-4">
          <span><%= @bourbon.proof %></span>
        </div>
        <div class="column small-4">
          <span class="dbb-rating">94</span>
        </div>
        <div class="column small-4">
          <span><%= @user_rating %></span>
        </div>
      </div>
    </div>
  </div>
</div>

<% if (@bourbon.user == current_user && current_user) || (current_user.admin? if current_user) %>
  <%= link_to "Update", edit_bourbon_path %>
<% end %>

<h3 class="reviews-header">Reviews</h2>

<%= render "review" %>
