<div class="row fullWidth main-picture">
  <p>
    test
  </p>
</div>
<div class="sticky">
  <nav class="top-bar welcome-top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Drink Better Bourbon", root_path, id: "logo" %></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
      <% if current_user %>
        <li class="has-dropdown">
        <%= link_to current_user.username, '#' %>
        <ul class="dropdown">
          <li><%= link_to 'Settings', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      <% end %>
      </ul>

    </section>
  </nav>
</div>
<div class="row">
  <div class="column small-centered">
    <p>
      Lorem ipsum dolor sit amet, bonorum deleniti cu eos, his at omnis legimus.
      Homero ubique ei vel. Ne mei assum quando, eam et ancillae sententiae
      accommodare. Ex vis clita iisque consequuntur, his ei viris ignota, libris
      postea nominavi mea an. Causae inermis salutandi ut sed, tota adipiscing
      id eos, cu cibo debet has. Ei quo noster semper liberavisse, an nec esse
      illum eruditi, cibo quaerendum mediocritatem te pro. Mei singulis
      moderatius ex, probatus instructior in usu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, bonorum deleniti cu eos, his at omnis legimus.
      Homero ubique ei vel. Ne mei assum quando, eam et ancillae sententiae
      accommodare. Ex vis clita iisque consequuntur, his ei viris ignota, libris
      postea nominavi mea an. Causae inermis salutandi ut sed, tota adipiscing
      id eos, cu cibo debet has. Ei quo noster semper liberavisse, an nec esse
      illum eruditi, cibo quaerendum mediocritatem te pro. Mei singulis
      moderatius ex, probatus instructior in usu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, bonorum deleniti cu eos, his at omnis legimus.
      Homero ubique ei vel. Ne mei assum quando, eam et ancillae sententiae
      accommodare. Ex vis clita iisque consequuntur, his ei viris ignota, libris
      postea nominavi mea an. Causae inermis salutandi ut sed, tota adipiscing
      id eos, cu cibo debet has. Ei quo noster semper liberavisse, an nec esse
      illum eruditi, cibo quaerendum mediocritatem te pro. Mei singulis
      moderatius ex, probatus instructior in usu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, bonorum deleniti cu eos, his at omnis legimus.
      Homero ubique ei vel. Ne mei assum quando, eam et ancillae sententiae
      accommodare. Ex vis clita iisque consequuntur, his ei viris ignota, libris
      postea nominavi mea an. Causae inermis salutandi ut sed, tota adipiscing
      id eos, cu cibo debet has. Ei quo noster semper liberavisse, an nec esse
      illum eruditi, cibo quaerendum mediocritatem te pro. Mei singulis
      moderatius ex, probatus instructior in usu.
    </p>
    <p>
      Lorem ipsum dolor sit amet, bonorum deleniti cu eos, his at omnis legimus.
      Homero ubique ei vel. Ne mei assum quando, eam et ancillae sententiae
      accommodare. Ex vis clita iisque consequuntur, his ei viris ignota, libris
      postea nominavi mea an. Causae inermis salutandi ut sed, tota adipiscing
      id eos, cu cibo debet has. Ei quo noster semper liberavisse, an nec esse
      illum eruditi, cibo quaerendum mediocritatem te pro. Mei singulis
      moderatius ex, probatus instructior in usu.
    </p>
  </div>
</div>
