<ul class="title-area">
  <li class="name">
    <h1 class="logo"><%= link_to "DBB", root_path %></h1>
  </li>
  <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
</ul>

<section class="top-bar-section">
  <ul class="right">
    <li><%= link_to "Bourbons", bourbons_path, class: "bbon" %></li>
    <% if current_user %>
      <li class="has-dropdown">
      <%= link_to current_user.username, '#' %>
      <ul class="dropdown">
        <li><%= link_to 'Settings', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    <% end %>
  </ul>
</section>
