<ul class="title-area">
  <li class="name">
    <h1 class="logo"><%= link_to "DBB", root_path %></h1>
  <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>

</ul>
<section class="top-bar-section">
  <ul class="left">
    <a
      href="https://twitter.com/betterbourbon" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">
    </a>
  </ul>
  <ul class="right">
    <% if "#{request.fullpath}" == "/bourbons" %>
    <% else %>
    <li class="has-form">
      <div class="row collapse">
        <div class="large-8 small-9 columns">
          <%= form_tag bourbons_path, method: "get", id: "top-bar-search", class: "row small-6 medium-4 large-3 welcome-search-form" do %>
            <%= text_field_tag :search, params[:search], id: "welcome-search-bar-top", placeholder: "Search..." %>
            <button class="search-button" type="submit">go</button>
          <% end %>
        </div>
      </div>
    </li>
    <% end %>
    <li><%= link_to "Bourbons", bourbons_path, class: "bbon" %></li>
    <% if current_user %>
      <li class="has-dropdown">
      <%= link_to current_user.username, '#' %>
      <ul class="dropdown">
        <% if current_user.admin? %>
          <li><%= link_to 'Admin', admin_bourbons_path %></li>
        <% end %>
        <li><%= link_to 'Settings', edit_user_registration_path %></li>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
      </ul>
    </li>
    <% else %>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    <% end %>
  </ul>
</section>
